body{
    background-color: red;
}
.bg{
    width: 100%;
    height: 100%;
    background: url("../assets/images/logODC.jpeg") no-repeat center;
    background-size: cover;
  }
  .cont {
      background-color:  red;
      position: relative;
  }
  